<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
    <customErrors mode="RemoteOnly" defaultRedirect="Hata">

      <error statusCode="404" redirect="Hata"/>
    </customErrors>

    <trace enabled="false" localOnly="false"/>
    <httpRuntime maxQueryStringLength="360" enableHeaderChecking="true" enableVersionHeader="false" maxUrlLength="360" executionTimeout="120" requestValidationMode="4.0"  />
    <pages buffer="true" validateRequest="true"></pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <remove name="Server"/>
        <remove name="X-AspNet-Version"/>
        <add name="X-FRAME-OPTIONS" value="Deny"/>
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="false">
          <add verb="GET" allowed="true"/>
          <add verb="POST" allowed="true"/>
        </verbs>
        <requestLimits maxAllowedContentLength="3000000"></requestLimits>
        <fileExtensions allowUnlisted="true">
          <add fileExtension=".jpg" allowed="true"/>
          <add fileExtension=".png" allowed="true"/>
          <add fileExtension=".js" allowed="true"/>
          <add fileExtension=".css" allowed="true"/>
          <add fileExtension=".html" allowed="true"/>
          <add fileExtension=".aspx" allowed="true"/>
        </fileExtensions>
        <hiddenSegments>
         
         
          <add segment="Global.asax"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
    <add name="DenemeInsaat" connectionString="Server=.\sqlexpress; Database=DenemeInsaat;User Id=sa;Password=1"/>
  </connectionStrings>
</configuration>